<%- layout("/layouts/boilerplate") %>
<body>
 <div class="main-container">
   <div class="filter">
    <form method="post" action="/home" >
      <div class="heading">
        <h3 style="display: inline-block; margin-right: 1.5rem;">FILTERS</h3>
    <button class="btn btn-sm btn-outline-dark " style="margin-bottom: 0.3rem;text-align: center;font-size: x-small;">Apply</button>
    
      </div>
    <br>
    <div class="location">
      <h5>Job Location</h5>
      <br>
      <label for="onsite">On-Site</label>
      <input type="radio" name="filter[location]" id="onsite" value="on-site">
      <br>
      <label for="hybrid">Hybrid</label>
      <input type="radio" name="filter[location]" id="hybrid" value="hybrid">
      <br>
      <label for="remote">Remote</label>
      <input type="radio" name="filter[location]" id="remote" value="remote">
<br>
<br>
    </div>
    <div class="duration">
      <h5>Duration</h5>
      <br>
      <label for="1">1-2 months</label>
      <input type="radio" name="filter[duration]" id="1" value="1"> <br>
      <label for="3">3-4 months</label>
      <input type="radio" name="filter[duration]" id="3" value="3"> <br>
      <label for="4">4-6 months</label>
      <input type="radio" name="filter[duration]" id="4" value="4"> <br> 
      <label for="1">>6 months</label>
      <input type="radio" name="filter[duration]" id="6" value="6"> <br> <br>
    </div>

    <div class="domain">
      <br>
      <select class="form-select" aria-label="Default select example">
        <option selected>Domain</option>
        <option name="filter[domain]" value="Electrical">Electrical</option>
        <option name="filter[domain]" value="ai">AI</option>
        <option name="filter[domain]" value="sdk">SDK</option>
      </select>
      <br>
    </div>
   

    </form>
   </div>
  <div class="body">
    <form  role="search" method="post" action="/home" >
      
        <input style="width: 15rem;" name="q" class="form-control nav_search me-2 searchbox " type="search" placeholder="Search_Projects" aria-label="Search">
      <button class="btn btn-sm btn-outline-success search-btn " type="submit">Search</button>
      
  </form>
<% if(projects[0]){ %> 
  <% for(project of projects){ %>
      <div class='project_container'>
        <br>
          <div class="post_title">
            <div class="project_name"><h3><%= project.projectName %></h3></div>
            <div class="site">On-Site|Hybrid</div>
          </div>
          <div class="post_info">
            <div class="postedby"><h5>Posted By:</h5> <br /> <%=project.postedBy %></div>
            <div class="req"><PersonIcon></PersonIcon><br /><%=project.requirements %></div>
            <div class="button"> <Button>See Details</Button></div>
          </div>
        </div>
        
  <% } %>
  <% }  else{ %>
      <h4>No results found!!</h4>
 <% } %>
  </div>
 </div>
   
</body>